.container3{
    margin: auto;
    width: 100%;
    height: 50vh;
    padding-top: 20vh;
    background-image: linear-gradient(#000000c3, #000000c3), url(http://www.ghousiaedu.org/ghousiaengineering/images/pic1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: wheat;
}
.container3 h2{
    font-family: serif;
    margin-bottom: 20px;
    word-spacing: 8px;
}
.container3 h3{
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #f80;
    font-weight: 200;
}

.content-2{
    width: 80%;
    margin: auto;
}
.content-2 .col-1 h2{
    padding-top: 40px;
    text-align: center;
}
.content-2 .col-1 hr{
    width: 100%;
    margin-top: 10px;
}
.content-2 .col-1 img{
    float: right;
    width: 40%;
    height: 45vh;
    margin: 0px 0px 15px 20px;
}
.content-2 .col-1 p{
    line-height: 1.5;
}
.content-2 .col-2 hr{
    width: 100%;
    margin-top: 10px;
}
.content-2 .col-2 img{
    float: right;
    width: 40%;
    height: 40vh;
    margin: 0px 0px 15px 20px;
}
.content-2 .col-2 h2{
    padding-top: 40px;
    text-align: center;
}
.content-2 .col-2 p{
    line-height: 1.6;
}
.content-2 .col-3 img{
    float: right;
    width: 40%;
    height: 40vh;
    margin: 0px 0px 15px 20px;
}
.content-2 .col-3 h2{
    padding-top: 75px;
    text-align: center;
}
.content-2 .col-3 p{
    line-height: 1.6;
}

